$ROW_HEIGHT: 22px;
$BAR_COLOR: rgba(34, 34, 34, 0.8);
$BORDER_COLOR: rgba(17, 17, 17, 0.9);
$BTN_SIZE: 32px;
$BTN_HOVER: rgba(51, 51, 51, 0.8);
$BTN_SELECTED: rgba(68, 68, 68, 0.8);
$BTN_SELECTED_HOVER: rgba(85, 85, 85, 0.8);
$PANEL: rgba(25, 25, 25, 0.8);
$PANEL_DARK: rgba(17, 17, 17, 0.8);